<%- include('header') %>
<%- include('navbar') %>
<%- include('messages') %>

<div class="container mt-5">
    <form method="post">
        <div class="card shadow">
            <div class="card-body fs-5">
                <div class="">
                    <label class="form-label">Promotion Name</label>
                    <input type="text" class="form-control" name="name" value="<%= promotions.name %>" required>
                </div>
                <div class="">
                    <label class="form-label mt-3">Detailed</label>
                    <input type="text" class="form-control" name="detail" value="<%= promotions.detail %>" required>
                </div>
                <div class="">
                    <label class="form-label mt-3">Type of Coupon</label>
                    <select class="form-control" id="couponType" name="type" required onchange="toggleFields()">
                        <option value="" disabled selected>Select coupon type</option>
                        <option value="discount" <%= promotions.type === 'discount' ? 'selected' : '' %>>Discount</option>
                        <option value="free_book" <%= promotions.type === 'free_book' ? 'selected' : '' %>>Free Book</option>
                    </select>
                </div>
                <div class="">
                    <label class="form-label mt-3">Start Date</label>
                    <input type="date" class="form-control" name="startdate" value="<%= promotions.startdate ? new Date(promotions.startdate).toISOString().split('T')[0] : '' %>" required>
                </div>
                <div class="">
                    <label class="form-label mt-3">End Date</label>
                    <input type="date" class="form-control" name="enddate" value="<%= promotions.enddate ? new Date(promotions.enddate).toISOString().split('T')[0] : '' %>" required>
                </div>
                <div class="">
                    <label class="form-label mt-3">Quantity of Coupon:</label>
                    <input type="text" class="form-control" pattern="[0-9]{0,4}" maxlength="4" name="quantity" value="<%= promotions.quantity %>" placeholder="Ex. 0-9999" required>
                </div>
                <div class="">
                    <label class="form-label mt-3">Code of Coupon:</label>
                    <input type="text" class="form-control" name="coupon_code" pattern="[A-Z0-9]{4,8}" maxlength="8" value="<%= promotions.coupon_code %>" placeholder="Ex. CODE12" required>
                </div>
                <div class="" id="discountField" style="display: none;">
                    <label class="form-label mt-3">Discount (e.g., "20 for 20%"):</label>
                    <input type="text" class="form-control"  pattern="[0-9]{1,3}" maxlength="3" name="discount" value="<%= promotions.discount || '' %>">
                </div>
                <div class="" id="freeBookField" style="display: none;">
                    <label class="form-label mt-3">FreeBook ID :</label>
                    <input type="text" class="form-control" name="book_id" pattern="[0-9]{1,5}" maxlength="5" value="<%= promotions.book_id || '' %>">
                </div>
                <div class="text-end">
                    <a type="button" class="btn btn-md btn-neutral mt-3 me-2" href="/promotion">Cancel</a>
                    <button type="submit" class="btn btn-md btn-primary mt-3" onclick="return confirm('Confirm ?')">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    
    function toggleFields() { // ฟังก์ชันสำหรับเปิด/ปิดฟิลด์ข้อมูลของโปรโมชั่น
        const couponType = document.getElementById("couponType").value;
        const discountField = document.getElementById("discountField");
        const freeBookField = document.getElementById("freeBookField");

        if (couponType === "discount") { // ถ้าเลือกประเภทโปรโมชั่นเป็น discount ให้แสดงฟิลด์ข้อมูลส่วนลด
            discountField.style.display = "block";
            freeBookField.style.display = "none";
            freeBookField.querySelector('input').value = ""; 
        } else if (couponType === "free_book") { // ถ้าเลือกประเภทโปรโมชั่นเป็น free_book ให้แสดงฟิลด์ข้อมูลหนังสือฟรี
            discountField.style.display = "none";
            freeBookField.style.display = "block";
            discountField.querySelector('input').value = ""; 
        } else { // ถ้าไม่เลือกประเภทโปรโมชั่นให้ซ่อนทั้งสองฟิลด์
            discountField.style.display = "none";
            freeBookField.style.display = "none";
        }
    }


    toggleFields();
</script>

<%- include('footer') %>

