<%- include('header') %>

    <%- include('navbar') %>
<div >
        <main class="card ms-3 me-3 mt-3 bg-white shadow" style="height: 100%;">
            <div class="card-body">
                <div class="card-title fs-3 m-2 d-flex justify-content-between"> <span class="special-elite-regular text-success">Borrow Book
                        History</span>
                    <span>
                        <a class="btn btn-danger" href="/deleteborrowHistory"
                            onclick="return confirm('Are you sure to Clear All History?')">CLEAR ALL BORROW
                            HISTORY</a></span>
                </div>
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="text-dark">
                        <tr class="text-success">
                            <th width="90px" scope="col"></th>
                            <th scope="col" style="width: 150px;">Book</th>
                            <th width="300px" scope="col">Book name</th>
                            <th width="300px" scope="col">Borrow By</th>
                            <th width="300px" scope="col">Borrow Date</th>
                            <th width="300px" scope="col">Return Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(borrowHistory !==undefined){ %>
                            <% borrowHistory.forEach((borrow)=> { %>
                                <tr>
                                    <td>
                                        <a class="btn btn-danger" href="/deleteborrowHistory/<%= borrow.id%>"
                                            onclick="return confirm('Are you sure to delete ?')">Delete</a>
                                    </td>
                                    <td scope="row"><img class="rounded shadow-sm border border-2 border-white"
                                            src="./images/books/<%= borrow.img %>" width="200px"></td>
                                    <td>
                                        <h4>
                                            <%= borrow.book_name %>
                                        </h4>
                                        <p>
                                            <%= borrow.detail %>
                                        </p>
                                    </td>
                                    </td>
                                    <td>
                                        <p>
                                            ID: <%= borrow.user_id %> & Name: <%= borrow.user_name %>
                                        </p>
                                        <p>
                                            Username: <%= borrow.user_usr %> Phone: <%= borrow.user_phone %>
                                        </p>
                                    </td>
                                    <td>
                                        <%= borrow.borrow_date %>
                                    </td>

                                    <td>
                                        <%= borrow.return_date %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% } %>
                    </tbody>
                </table>
                </div>
            </div>
        </main>
</div>
        <%- include('footer') %>