<%- include('header') %>
    <%- include('navbar') %>
        <div class="card mt-3 shadow ms-3 me-3">
            <div class="card-body">
                <div class="card-title fs-3 special-elite-regular text-success">Book Tag</div>
                <a class="btn btn-outline-primary mt-3 " href="/addGroupBook">+Add</a>
            <div class="table-responsive">
                <table class="table table-hover mt-3">
                    <thead>
                        <tr class="text-success">
                            <th width="170px"></th>
                            <th>Tag of Book</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% groupBooks.forEach((groupBook)=> { %>
                                <td>
                                    <a class="btn btn-primary" href="/editGroupBook/<%= groupBook.id %>">Edit</a>
                                    <a class="btn btn-danger" href="/deleteGroupBook/<%= groupBook.id %>"
                                        onclick="return confirm('Are you sure to delete ?')">Delete</a>
                                </td>
                                <td>
                                    <%= (groupBook.name_tag) %>
                                </td>

                        </tr>
                        <% }); %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <%- include('footer') %>