<% if (messages.registerfail && messages.registerfail.length > 0) { %>
  <div class="text-center mt-3 alert alert-danger alert-dismissible fade show" role="alert">
    <%= messages.registerfail %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (messages.registerpass && messages.registerpass.length > 0) { %>
  <div class="text-center mt-3 alert alert-success alert-dismissible fade show" role="alert">
    <%= messages.registerpass %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (messages.registerrequire && messages.registerrequire.length > 0) { %>
  <div class="text-center mt-3 alert alert-danger alert-dismissible fade show" role="alert">
    <%= messages.registerrequire %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (messages.loginrequire && messages.loginrequire.length > 0) { %>
  <div class="text-center mt-3 alert alert-danger alert-dismissible fade show" role="alert">
    <%= messages.loginrequire %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (messages.loginfail && messages.loginfail.length > 0) { %>
  <div class="text-center mt-3 alert alert-danger alert-dismissible fade show" role="alert">
    <%= messages.loginfail %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (messages.usernotexist && messages.usernotexist.length > 0) { %>
  <div class="text-center mt-3 alert alert-danger alert-dismissible fade show" role="alert">
    <%= messages.usernotexist %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %> 

<% if (messages.resetsuccess && messages.resetsuccess.length > 0) { %>
  <div class="text-center mt-3 alert alert-success alert-dismissible fade show" role="alert">
    <%= messages.resetsuccess %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>


<% if (messages.profilepass && messages.profilepass.length > 0) { %>
  <div class="text-center mt-3 alert alert-success alert-dismissible fade show" role="alert">
    <%= messages.profilepass %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (messages.errorimg && messages.errorimg.length > 0) { %>
  <div class="text-center mt-3 alert alert-danger alert-dismissible fade show" role="alert">
    <%= messages.errorimg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %> 