<%- include('header') %>

    <%- include('navbar') %>

        <main class="card ms-3 me-3 mt-3 bg-white shadow" style="height: 100%;">
            <div class="card-body">
                <div class="card-title fs-3 m-2 d-flex justify-content-between"> <span class="special-elite-regular text-success">Reserve Book
                        History</span>
                    <span>
                        <a class="btn btn-danger" href="/deletereserveHistory"
                            onclick="return confirm('Are you sure to Clear All History?')">CLEAR ALL RESERVE
                            HISTORY</a></span>
                </div>
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="text-dark">
                        <tr class="text-success">
                            <th width="90px" scope="col"></th>
                            <th scope="col" style="width: 150px;">Book</th>
                            <th width="300px" scope="col">Book name</th>
                            <th width="300px" scope="col">Reserve By</th>
                            <th width="300px" scope="col">Reserve Date</th>
                            <th width="300px" scope="col">PickUp Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(reserveHistory !==undefined){ %>
                            <% reserveHistory.forEach((reserve)=> { %>
                                <tr>
                                    <td>
                                        <a class="btn btn-danger" href="/deleteReserveHistory/<%= reserve.id%>"
                                            onclick="return confirm('Are you sure to delete ?')">Delete</a>
                                    </td>
                                    <td scope="row"><img class="rounded shadow-sm border border-2 border-white"
                                            src="./images/books/<%= reserve.img %>" width="200px"></td>
                                    <td>
                                        <h4>
                                            <%= reserve.book_name %>
                                        </h4>
                                        <p>
                                            <%= reserve.detail %>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            ID: <%= reserve.user_id %> & Name: <%= reserve.user_name %>
                                        </p>
                                        <p>
                                            Username: <%= reserve.user_usr %> Phone: <%= reserve.user_phone %>
                                        </p>
                                    </td>
                                    <td>
                                        <%= reserve.reserve_date %>
                                    </td>

                                    <td>
                                        <%= reserve.pickup_date %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% } %>
                    </tbody>
                </table>
                </div>
            </div>
        </main>

        <%- include('footer') %>