<%- include('header') %>
    <%- include('navbar') %>
        <div class="card mt-3 shadow ms-3 me-3">
            <div class="card-body">
                <div class="card-title fs-3 special-elite-regular"
                    style="color: #074bb1; font-family: 'Poppins', sans-serif;">
                    User
                </div>
                <a class="btn btn-outline-primary mt-3" href="/addUser">+Add</a>
                <div class="table-responsive mt-3">
                    <table class="table table-hover shadow">
                        <thead>
                            <tr>
                                <th width="170px"></th>
                                <th style="color: #074bb1;">Name</th>
                                <th width="200px" style="color: #074bb1;">Username</th>
                                <th width="200px" style="color: #074bb1;">Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach((user)=> { %>
                                <tr>
                                    <td>
                                        <a class="btn btn-primary" href="/editUser/<%= user.id %>">Edit</a>
                                        <a class="btn btn-danger" href="/deleteUser/<%= user.id %>"
                                            onclick="return confirm('Are you sure to delete ?')">
                                            Delete
                                        </a>
                                    </td>
                                    <td>
                                        <%= user.name %>
                                    </td>
                                    <td>
                                        <%= user.usr %>
                                    </td>
                                    <td>
                                        <%= user.level %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include('footer') %>